

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{font-family: 'Roboto', sans-serif; margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt_rt{text-align:right;}/* text align right */
.txt_lt{text-align:left;}/* text align left */
.txt_center{text-align:center;}/* text align center */
.float_rt{float:right;}/* float right */
.float_lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos_relative{position:relative;}/* Position Relative */
.pos_absolute{position:absolute;}/* Position Absolute */
.vertical_base{	vertical-align:baseline;}/* vertical align baseline */
.vertical_top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
.bgwhite{ background: #fff;}

.onlypc{display: block;}
.onlymobile{display: none;}

.bol{font-weight: bold;}
.italic{font-style: italic;}
.upper{text-transform: uppercase;}
.center{ text-align: center;}

.black{ color: #030303;}
.grey {color:#a0a19c;}
.organ{color: #ca982c;}
.red{color: #d62e3b;}
.green{color:#35aa1a}
.blue{color: #2a4f86;}
.bluebla{color: #0c2850;}
.violet{color: #af33a7;}
.size1{font-size: 15px !important;}
.size2{font-size: 13px !important;}
.size3{font-size: 12px !important;}
.size4{font-size: 11px !important;}

.bgred{background-color: #dd0f0f;}
.bgblue{background-color: #0f12dd;}
/*end reset*/
body{
	background: url('images/bg.jpg') repeat 0 0 transparent;
	margin:0px;

}
.wrap{
	width:1024px;
	margin:0 auto;

	}
.toplinks nav{
	float:left;
}

/* header*/
.header{
	background-color: #f4f4f4;
	height:36px;
}
.header nav{
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerlinks{
	background-color: #f4f4f4;
}

.headerlinks ul li{
	display:inline-block;
	line-height:2.2;
	float: left;	
}
	
.headerlinks ul li a{
	color: #101c3f;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 15px;
	line-height: 21px;
	padding: 0px 15px 0px 15px;
	font-family: 'Roboto', sans-serif;
	border-right: 1px solid #101c3f;

}
.headerlinks ul li a:hover{
	font-weight: bold;
}
.headerlinks li a.active {
	font-weight: bold;
	text-decoration: none;
}
.headerlinks ul li:last-child a{
	border: none;
}
.headerlinks img{
	float:right;
	background:#3C3C3B;
	padding: 8px 19px;
}
.headerlinks img:hover{
	opacity:0.6;
	cursor:pointer;
}
.toplinks{
	background:  url(images/tail-menu.gif);
	height: 56px;
	line-height: 3;
}
.subheader{	
	background: url('images/banner.jpg') no-repeat top center transparent;
	height: 230px;
}
.logo{
	float: left;
	margin-top: 80px;
	cursor: pointer;
}
.logo img{
	width: 500px;
}
.toplinks{
	background: url(images/toplink_bg.png) repeat 0 0 transparent;
	padding: 15px 0;
	height: 110px;
}
.toplinks ul li{
	float:left;
}
.toplinks ul li.line{
	padding: 35px 20px;
}
.toplinks ul li.line span{
	display: block;
	border-right: solid thin #101c3f;
	width: 1px;
	height: 50px;
}
.toplinks ul li img{
	width: 224px;
}
.toplinks ul li img:hover{
	opacity: 0.7;
}

/*box menu*/
.conleft{
	float: left;
	width: 23%;
}
.boxmenu{
	width: 100%;
}
.boxmenu h2{
	background: #0a2ace;
	color: #ffe451;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	padding: 15px 0;
}
.boxmenu ul{
	background: #0074ce;
	width: 90%;	
	padding: 0 5.1%;	
	border-top: solid 1px #2b9cf3;
	border-bottom: solid 1px #2b9cf3;
}
.boxmenu ul li{
	padding: 7px 0;
	border-bottom: solid 1px #2b9cf3;
}
.boxmenu ul li:last-child{
	border: none;
}
.boxmenu ul li a{
	color: #fff;
	font-size: 13px;
}
.boxmenu ul li a:hover{
	color: #ffe451;
}

/* body right */
.conright{
	float: left;
    width: 75%;
    padding: 45px 0% 20px 2%;;
}
.borderno{
	border: none;
}
.boldertb {
	border-top: solid 1px #3C3C3B;
	border-bottom: solid 1px #3C3C3B;
}
.boldertb td{
	padding: 5px;
}
/* tu vi */
.tuvi{
	width: 100%;	
	float: left;
}
.tuvi .wrapbg{	
	background: url(images/tutru_bg.jpg) no-repeat top center #fff;
	width: 100%;
	border: solid 2px #94242e;
	border-radius: 5px;
}
.tuvi .tbl{
	width: 100%;
}
.tuvi .item{
	width: 181px;
	border-bottom: solid 1px #3C3C3B;
	border-right: solid 1px #3C3C3B;
	padding: 5px;
}
.tuvi .bortop{
	border-top: solid 1px #3C3C3B;
}
.tuvi .nobori{
	border-right: none;
}
.tuvi .nobobot{
	border-bottom: none;
}

.tuvi .itemtop{
	width: 100%;
	min-height: 65px;
}
.tuvi .itemtop .col1{
	float: left;
	width: 25%;
}
.tuvi .itemtop .col2{
	float: left;
	width: 50%;
	text-align: center;
}
.tuvi .itemtop .col3{
	float: left;
	width: 25%;
	text-align: right;
}

.tuvi .itemcen{
	width: 100%;
	min-height: 150px;
}
.tuvi .itemcen .col1{
	float: left;
	width: 50%;
}
.tuvi .itemcen .col2{
	float: left;
	width: 50%;
	text-align: right;
}

.tuvi .itembot{
	width: 100%;
	min-height: 20px;
}
.tuvi .itembot .col1{
	float: left;
	width: 25%;
}
.tuvi .itembot .col2{
	float: left;
	width: 50%;
	text-align: center;
}
.tuvi .itembot .col3{
	float: left;
	width: 25%;
	text-align: right;
}

.tuvi .tditembig{
	vertical-align: top;
	position: relative;
}
.tuvi .itembig{
	width: 373px;
	min-height: 481px;
	border-right: solid 1px #3C3C3B;
	border-bottom: solid 1px #3C3C3B;
	padding: 5px;
	position: relative;
}
.tuvi .itembig .title{
	text-align: center;
	margin: 20px 0 7px 0;
}
.tuvi .itembig .topline{
	border-top: solid 1px #3C3C3B;
	padding-top: 3px;;
}
.tuvi .itembig .line{
	text-align: center;
	margin-bottom: 5px;
}

.tblbigsub{
	width: 100%;
	border: solid 1px #cfcfcf;
}
.tblbigsub tr:nth-child(2){
	border-bottom: solid 1px #cfcfcf;
}
.tblbigsub td{
	text-align: center;
	border-radius: 10px;
}
.tuvi .mgt{
	margin-top: 5px;
}
.tuvi .triet{
	background: #1560a4;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    padding: 2px 17px;
    position: absolute;
    top: -10px;
    left: 161px;
}
.tuvi .tuan{
	background: #909346;
	color: #fff;
	font-size: 10px;
	text-transform: uppercase;
	padding:2px 17px;
	position: absolute;
	bottom: -7px;
    left: 161px;
}
.tuvi .active{
	background: rgba(247, 229, 173, 0.3);
}

.extendbot{
	width: 100%;
	margin-top: 5px;
	display: flex;
    align-items: center;
    justify-content: center;
}
.extendbot .gr{
	float: left;
	margin-right: 10px;
}
.extendbot .color{
	display: block;
	float: left;
	width: 20px;
	height: 11px;
}
.extendbot .grkim .color{
	background: #a0a19c;
	margin-left: 30px;
	margin-top: 3px;
}
.extendbot .grmoc .color{
	background: #35aa1a;
	margin-top: 3px;
}
.extendbot .grthuy .color{
	background: #030303;
	margin-top: 3px;
}
.extendbot .grhoa .color{
	background: #d62e3b;
	margin-top: 3px;
}
 .extendbot .grtho .color{
	background: #ca982c;
	margin-top: 3px;
}
.extendbot .text{
	display: block;
	float: left;
	margin-left: 5px;
}

/* share */
.share{
	width: 100%;
	float: left;
	margin-top: 20px;
}
.share ul li{
	float: left;
	margin-right: 30px;
}
.share ul li:first-child{
	margin-top: 5px;
	font-style: italic;
}
.share li img{
	height: 24px;
}
.share li img:hover{
	opacity: 0.7;
}


/* form tu vi */
.inputform{
	width: 90%;
	margin: 20px auto;
	border: solid 1px #a0a19c;
	border-radius: 5px;
	padding: 10px;
}
.inputform .intro{
	width: 100%;
	margin-bottom: 10px;
	border-bottom: solid thin #cfcfcf;
	padding-bottom: 5px;
}
.inputform table{
	margin: 20px 0;
	width: 100%;
}
.inputform table td{
	padding: 5px 3px;
}
.inputform table input[type="text"]{
	width: 100%;
}
.inputform table input[type="button"]{
	background: #ca982c;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	border: solid 1px #a0a19c;
	font-weight: normal;
	margin-right: 10px;
	border-radius: 5px;
	padding: 5px 15px;
}
.inputform table input[type="button"]:hover{
	opacity: 0.7;
}
.inputform .btn{
	text-align: center;
	padding-top: 30px;
}

/* tu tru */
.tutru{
	width: 100%;	
	float: left;
}
.tutru .wrapbg{	
	background: url(images/tutru_bg.jpg) no-repeat top center #fff;
	width: 100%;
	border: solid 2px #030303;
	border-radius: 5px;
}
.tutru .tbl{
	width: 100%;
	border: none;
}
.tutru .tbltutrutop{
	width: 100%;margin-top: 7px;
}
.tutru .tutrulogo{	
	text-align: center;
}
.tutru .tutrulogo img{
	width: 300px;	
}
.tutru .tutrulogo h2{	
	font-size: 21px;
}
.tutru .tutrulogotext td{
	font-size: 13px;
	padding: 1px 5px;
}

.tutru .tbltutrumain{
	width: 100%;
}
.tutru .tbltutrumain td{
	border: solid 1px #3C3C3B;
	text-align: center;
	padding: 3px 0;
	vertical-align: middle;
}
.tutru .tbltutrumain tr > td:first-child{
	border-left:none;
	width: 65px;
}
.tutru .tbltutrumain tr > td:last-child{
	border-right:none;
}
.tutru .tutrutblsub2{
	width: 100%;
}
.tutru .tutrutblsub2 td{
	border: solid 1px #3C3C3B;
	text-align: center;
	padding: 3px 0;
	vertical-align: middle;
}
.tutru .tutrutblsub2 tr > td:first-child{
	border-left:none;
	width: 65px;
}
.tutru .tutrutblsub2 tr > td:last-child{
	border-right:none;
}
.tutru .tutrubtlsnc{
	width: 100%;
}

.tutru .tutrutblsub2nowithfirst tr > td:first-child{
	border-left:none;
	width: auto;
}
.tutru .tutrutblsub2nowithfirst td{
	text-align: left;
	padding: 3px 3px;
}

.tutru .tutrubtlsnc td{
	border: solid 1px #3C3C3B;
	text-align: center;
	padding: 3px 0;
	vertical-align: middle;
}
.tutru .tutrubtlsnc tr > td:first-child{
	border-left:none;
	width: 65px;
}
.tutru .tutrubtlsnc tr > td:last-child{
	border-right:none;
}
.tutru .tdspecwith{
	width: auto !important;
}
.txtinnerright{
	position: relative;
}
.txtinnerright .txtin{
	position: absolute;
	top: 1px;
	right: 1px;
	font-size: 10px;
	font-weight: normal;
	color: #3C3C3B;
}

.tblinnerno{
	border: 0;
	padding: 0;
	width: 100%;
}
.tblinnerno td{
	border: 0 !important;
	padding: 0 !important;
}

/* dich quai */
.dichquai{
	width: 100%;	
	float: left;
}
.dichquai .wrapbg{	
	width: 100%;
	border: solid 2px #030303;
	border-radius: 5px;
	padding: 10px;
}
.dichquai .tbl{
	width: 100%;
	border: none;
	border-spacing: 1px;
}

.tbldqcolor{
	border-collapse: separate;
	border-spacing: 3px;
	margin: 5px auto;
}
.tbldqcolor td{
	font-size: 7px;
}

.tbldqcolorsmall{
	border-collapse: separate;
	border-spacing: 3px;
}
.tbldqcolorsmall td{
	font-size: 3px;
	padding: 0 !important;
}

.tblinnerleft{
	border-collapse: separate;
	width: 100%;
}
.tblinnerleft tr{	
	border-top: solid 1px #3C3C3B;
	border-bottom: solid 1px #3C3C3B;
	border-right: solid 1px #3C3C3B;
}
.tblinnerleft tr td{
	padding: 3px;
}
.tblinnerleft tr td:last-child{
	padding-right: 0; 
}

.tblinnerright{
	border-collapse: separate;
	width: 100%;
}
.tblinnerright tr{	
	border-top: solid 1px #3C3C3B;
	border-bottom: solid 1px #3C3C3B;
}
.tblinnerright tr td{
	padding: 3px;
}
.tblinnerright tr td:first-child{
	padding-left: 0; 
}
.tblinnerright tr td:first-child table td{
	padding-left: 3px;
}

/*----footer----*/
.footer{
	background-color: #0e3263;
	padding: 10px 20px 10px 20px;
}
.footer nav{
	display: flex;
    align-items: center;
    justify-content: center;
}
.footer nav ul li{
	display:inline-block;
	line-height:2.2;
	float: left;	
}	
.footer nav ul li a{
	color: #cfcfcf;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 15px;
	line-height: 21px;
	padding: 0px 15px 0px 15px;
	font-family: 'Roboto', sans-serif;
	border-right: 1px solid #cfcfcf;

}
.footer nav ul li a:hover{
	font-weight: bold;
}
.footer nav li a.active {
	font-weight: bold;
	text-decoration: none;
}
.footer nav ul li:last-child a{
	border: none;
}
.foot_lh{
	display: flex;
    align-items: center;
	justify-content: center;
	margin-top: 30px;
}
.foot_lh .lh{
	float: left;
	margin-right: 20px;
}
.foot_lh .info{
	float: left;
	width: 265px;
}
.foot_lh .info img{
	float: left;
	margin-right: 10px;
}
.foot_lh .info span{
	color:#cfcfcf;
}
.foot_lh .info div{
	width: 100%;
}
.foot_lh .info .phone{
	margin-bottom: 20px;
}

/*copyr*/
.copyr{
	margin-top: 30px;
	padding: 10px 0 0;
	border-top: 1px ridge #0a4683;
}
.copyr p{
	text-align:center;
}
.copyr p.link {
	text-decoration: none;
	font-size: 14px;
	color: #cfcfcf;
	text-transform: none;
}
.copyr p.link a {
	color: #cfcfcf;
	text-decoration: none;
	font-size:13px;
}
.copyr p.link a:hover {
	font-weight: bold;
}
/*---carpet-----*/


/*------responive-design--------*/
@media screen and (max-width: 900px) {
	.wrap{
		width:99%;
	}

	
	
}
@media screen and (max-width: 800px){	
	.onlypc{display: none !important;}
	.onlymobile{display: block !important;}

	.wrap{
		width:100%;
		float: left;
	}
	.headerlinks ul li a{
		padding: 8px 9px 8px 7px;
	}
	.headerlinks img{
		float:right;
		margin-right:20px;
		margin-right: 42px;
	}
	.logo img {
		width: 98%;
		margin: 0px 1%;
	}
	
	.menu .menutext{
		float: left;
		margin: 3px 0 0 0;
		width: 100%;
	}
	.menu .menutext img{
		height: 30px;
		float: left;
		margin-right: 10px;
	}
	.menu .menutext span{
		color: #3C3C3B;
		font-size: 20px;
		margin-top: 3px;
    	float: left;
	}

	.menu .menulist{
		background: rgba(85, 82, 82, 0.7);
		position: fixed;
		top: 0;
		left: 0;
		border: solid 1px #3C3C3B;
		padding: 10px 12% 0 12%;
		height: 100%;
		overflow-x: auto;
		padding-bottom: 150px;
	}
	.menu .menulist .close{
		position: fixed;
		top: 5px;
		right: 5px;
	}
	.menu .menulist .close img{
		width: 24px;
	}

	.toplinks ul li {
		float: none;
		text-align: center;
	}
	.toplinks ul li img {
		width: 90%;
	}
	.toplinks ul li.line {
		display: none;
	}

	.conright{
		width: 100%;
	}

	.foot_lh .lh {
		margin-right: 10px;
	}
	.foot_lh .lh img{
		width: 120px;
	}
	.foot_lh .info {
		width: 205px;
	}
	.foot_lh .info .phone {
		margin-bottom: 3px;
		float: left;
	}
	.foot_lh .info img {
		margin-right: 5px;
		width: 16px;
	}
	.foot_lh .info span {
		font-size: 13px;
		margin-top: -1px;
		float: left;
	}


}	
@media screen and (max-width: 600px){	
		
}
